{% extends "portfolio/base.html" %}
{% block title %}{{ project.title }} - Project{% endblock %}
{% block content %}
<article class="row g-4">
  <div class="col-12 col-lg-7">
    {% if project.cover_image %}
    <img src="{{ project.cover_image.url }}" class="img-fluid rounded shadow-sm" alt="{{ project.title }} cover">
    {% endif %}
    {% if project.gallery.all %}
    <div class="row g-2 mt-2">
      {% for image in project.gallery.all %}
      <div class="col-4">
        <img src="{{ image.image.url }}" class="img-fluid rounded" alt="{{ image.caption|default:project.title }}">
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="col-12 col-lg-5">
    <h1 class="h3">{{ project.title }}</h1>
    {% if project.category %}
    <span class="badge text-bg-secondary mb-2">{{ project.category.name }}</span>
    {% endif %}
    <p class="text-muted">{{ project.short_description|default:project.description }}</p>
    <div class="mt-3 d-flex gap-2">
      {% if project.link_demo %}<a class="btn btn-primary" href="{{ project.link_demo }}" target="_blank" rel="noopener">Live Demo</a>{% endif %}
      {% if project.link_github %}<a class="btn btn-outline-secondary" href="{{ project.link_github }}" target="_blank" rel="noopener">Source</a>{% endif %}
    </div>
  </div>
</article>
{% endblock %}


